*.opendb
*.db
/current/server/lavalampService/bin/x86
/current/server/lavalampService/bin/x64
/current/server/lavalampdll/Debug/lavalampdll.tlog
/current/server/lavalampdll/Debug
/current/server/lavalampService/bin
/current/server/lavalampService/obj/Debug
/current/server/LinuxSpecificRuleItems/obj/Debug
/current/server/LinuxSpecificRuleItems/bin/Debug
/current/server/netGui/obj/Debug
/current/server/netGui/bin
*.tjj~
/current/server/netgui-extras/lavalamp-winamp/Debug
/current/server/netgui-extras/ruleItems-winamp/obj/Debug
/current/server/netgui-extras/ruleItems-winamp/bin/Debug
/current/server/netgui-extras/wallboard/Debug
/current/server/output/Debug
/current/server/packages
/current/server/ruleEngine/obj/Debug
/current/server/ruleEngine/bin/Debug
/current/server/TestProjects/obj/Debug
/current/server/TestResults
/current/server/transmitterDriver/bin/Debug
/current/server/transmitterDriver/obj/Debug
/current/server/virtualNodeNetwork/obj/Debug
/current/server/virtualNodeNetwork/bin/Debug
/current/server/WebApplication1/bin
/current/server/webGui/bin
/current/server/webGui/obj/Debug
/current/server/webGui.Tests/obj/Debug
/current/server/webGui.Tests/bin/Debug
/current/server/win32cmdline/Debug
/current/server/WindowsSpecificRuleItems/bin/Debug
/current/server/WindowsSpecificRuleItems/obj/Debug
/current/server/.vs
/current/server/lavalampData/bin/Debug
/current/server/lavalampData/obj/Debug
/current/boards/swManchester/transciever/allegro_free_viewer.jrl
/current/server/UpgradeLog.htm
